{{#if isLoggedIn}}
{{>private-navbar}}
{{else}}
{{>public-navbar}}
{{/if}}

<article
  class="media is-flex-direction-row is-flex-wrap-wrap is-justify-content-center my-6"
>
  <div>
    <h2
      class="subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered has-text-weight-semibold has-text-link"
    >
      My Posts
    </h2>
  </div>

  <div class="media-content">
    <div class="content card-content" id="content">
      <p>
        <strong class="has-text-white">{{postObj.user.username}}</strong>
        <br />
        <strong class="has-text-white">{{postObj.title}}</strong>
        <br />
        {{postObj.body}}
        <br />
        <small><a class="card-links" id="edit-post">Edit</a>
          ·
          <a class="card-links" id="edit-post">Delete</a></small>
      </p>
    </div>
  </div>
</article>