<div>
  <h2
    class="subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered has-text-weight-semibold has-text-link"
  >
    OpenSource Articles
  </h2>
</div>

<article
  class="media is-flex-direction-row is-flex-wrap-wrap is-justify-content-center my-6"
>
  <div class="media-content">
    <div class="content card-content" id="content">
      <p>
        <strong class="">{{username}}</strong>
        <br />
        <strong class="">{{title}}</strong>
        <br />
        {{content}}
        <br />
      </p>
    </div>
  </div>
</article>