{{#if isLoggedIn}}
{{>private-navbar}}
{{else}}
{{>public-navbar}}
{{/if}}

  <main>
    <div
      class="is-flex-direction-row is-flex-wrap-wrap has-text-centered"
      id="create-blog"
    >
      <h2
        class="subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered has-text-link has-text-weight-bold"
      >
        Ready to write?
      </h2>
      <button href="/views/create-blog.handlebars" class="button is-link is-outlined">Create Post</button>
    </div>

    {{> blog}}
  </main>
  {{> footer}}