{{#if isLoggedIn}}
{{>private-navbar}}
{{else}}
{{>public-navbar}}
{{/if}}

<form class="container is-flex-direction-column is-flex-wrap-wrap is-justify-content-center" data-blog-id="{{id}}" id="edit-blog-form">
  <div class="field">
    <label class="label">Blog Title</label>
    <div class="control">
      <input class="input" id="blog-title" type="text" placeholder="Blog Title" />
    </div>
  </div>
  <div class="field">
  <label class="label">Blog Content</label>
  <div class="control">
    <textarea class="textarea" id="blog-content" placeholder="Textarea"></textarea>
  </div>
</div>
<div class="buttons">
  <button class="button is-success" id="create-blog-btn">Edit Blog</button>
  <button class="button is-danger" id="create-blog-btn">Delete Blog</button>
</div>
</form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
 <script src="/js/edit-blog.js"></script>