<body id="homePage" class="d-flex flex-column min-vh-100">
    <header>
        {{#if req.session.loggedIn}}
        {{> private-navbar}}
        {{else}}
        {{> public-navbar}}
        {{/if}}
    </header>
    <main class="" style="">
        <div>
            <h2
                class="subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered has-text-weight-semibold has-text-link">
                OpenSource Articles
            </h2>
        </div>
        <div>
            {{#each blogs}}
            {{> homepage-blog}}
            {{/each}}
        </div>
    </main>
    <!-- Footer -->
    <footer class="">
    </footer>
</body>