<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to OpenSource</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body id="homePage" class="d-flex flex-column min-vh-100">
    <header>
        {{#if req.session.loggedIn}}
        {{> private-navbar}}
        {{else}}
        {{> public-navbar}}
        {{/if}}
    </header>
    <main>
        <h2 class="main-text subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered">
            Welcome to OpenSource - The ultimate software engineering community</h2>
        </div>
        <div>
            {{#each blogs}}
            {{> homepage-blog}}
            {{/each}}
        </div>
    </main>
    <!-- Footer -->
    <footer class="">
    </footer>
</body>