//* html {
  background-color: #000000;
} */

.login-form .sign-up {
  margin: 1000px;
  padding: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sign-up:hover {
  color: green;
}

.main-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.homepage-oneliner{
color: red;
}

.card-content {
  margin: 24px;
  border: rgb(128, 128, 128) 1px solid;
  background-color: hsl(217, 81%, 64%);
  color: white;
  border-radius: 5px;
}

.card-links {
  color: rgb(255, 255, 255);
}

.card-links:hover {
  color: yellow;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
